//= include/header.html
<!-- ------------ Шапка сайта ------------- -->

<ul>
	<li><a href="">Далеко-далеко за.</a></li>
	<li><a href="">Ручеек, лучше.</a></li>
	<li><a href="">Заглавных, на берегу?</a></li>
	<li><a href="">Грустный, лучше.</a></li>
	<li><a href="">О, рот!</a></li>
	<li><a href="">Выйти, его?</a></li>
	<li><a href="">Вскоре, единственное.</a></li>
	<li><a href="">Силуэт, имени.</a></li>
	<li><a href="">Решила, составитель!</a></li>
	<li><a href="">Своих, вскоре!</a></li>
</ul>

<!-- ------------ Подвал сайта ------------- -->
//= include/footer.html